

/*
** CONFIG GERAL
*/
body {
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-family: 'PT Sans', sans-serif;
}

nav ul a:hover {
	background-color: transparent;
}
.slider.fullscreen {
	position: static;
	height: 100vh;
}
/*
** HEADER
*/

header {
	text-align: center;
	align-items: center;
	background-size: cover;
}

header .slider {
	height:100vh;
}

header .logo {
	height: 48px;
	margin: 5px;
}

.fa-bars {
	color: #2A693C;
}


/*
** Info
*/
#info {
	display: flex;
	align-items: center;
	text-align: center;
	background-color: #f1f1f1;
	padding: 0px 30px 10px 30px;
}

#info .row {
	max-width: 100%;
}


/*
** Qualification
*/
#qualification {
	align-items: center;
	text-align: center;
	/*padding: 0px 30px 10px 30px;*/
}

#qualification .fa-university {
	padding-bottom: 10px;
}

#qualification .row {
	max-width: 80%;
}

#qualification .titles {
	border-top: solid;
	border-radius: 92%;
	border-color: #d9d9d9;
	padding-top: 5px;
}


/*
** Services
*/
#services {
	background-color: #789048;
	color: #f1f1f1;
	text-align: center;
	align-items: center;
}

#services .fa-star-o {
	padding-top: 75px;
}

#services .services-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#services .services-list .label {
	font-size: 13px;
	flex-direction: column;
	width: 225px;
	min-height: 275px;
	margin: 10px;
	padding: 0px 20px 10px 20px;
	border-style: solid;
	border-width: thin;
	border-color: #cccccc;
	background-color: #4F5A39;
}
#services .services-list div span button {
	color: #333;
	border: none;
	background: none;
}

#services .services-list .hidden-content {
	color: #333;
	width: 275px;
	background-color: #f1f1f1;
	display: flex;
	padding: 5px 10px 20px 10px;
	box-shadow: 2px 2px 2px #333;
	display: none;
}

#services .services-list .hidden-content .objectives {
	text-align: left;

}

#services .services-list .hidden-content .objectives li {
	list-style: square;
	text-align: left;
	list-style-position: inside;
}

.hoverInfo {
	display: none;
}

.label:hover .coverInfo {
	display: none;
}

.label:hover .hoverInfo {
	display: block;
}


/*
** Footer
*/
footer {
	text-align: center;
	color: #f1f1f1;
	background-color: #333;
	padding: 1px;
	
}

footer .fb, .in, .git {
	padding: 0.35rem;
	color: #f1f1f1;
}


/*
** Contact
*/
#contact {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #555;
	color: #f1f1f1;
}

#contact .row {
	margin: 0;
}

#contact .row .contact-info address {
	padding-bottom: 10px;
}

#contact .row .google-maps {
	margin: 0;
	padding: 0;
}
#contact .row .google-maps #map {
	margin: 0;
	padding: 0;
}
#contact .row .google-maps #map iframe {
	border: 0;
	height: 450px;
	width: 100%;
}

#contact .row .contact-info ul li {
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
}

#contact .row .contact-info ul li a {
	color: #789048;
}

#contact .row .contact-info ul li a.fb:hover {
	color: #3b5998;
}







@media only screen and (max-width: 579px){

	/*
	** Header
	*/

	/*
	** Services
	*/
	#services .view-two {
		display: none;
	}
	#services .view-three {
		display: none;
	}
}


@media only screen and (min-width: 580px) and (max-width: 768px){

	/*
	** Info
	*/

	#info .row {
		max-width: 90%;
	}

	/*
	** Qualifications
	*/	

	#qualification .row {
		max-width: 90%;
	}


	/*
	** Services
	*/

	#services .view-one {
		display: none;
	}

	#services .view-three {
		display: none;
	}
	
	#services .fa {
		display: block;
	}

	#services .view-two {
		display: inline-block;
		flex-direction: row;
		align-items: center;
		text-align: center;
	}


	#services .view-two #col-view-two {
		display: flex;
	}

	#services .view-two #col-view-two li {
		font-size: 13px;
		float: left;
		text-align: center;
		align-items: center;
		width: 225px;
		min-height: 275px;
		margin: 15px;
	}

	#services .view-two #col-view-two li span button {
		color: #333;
		border: none;
		background: none;
	}

	#services .view-two .hidden-content {
		color: #333;
		width: 560px;
		min-height: 250px;
		background-color: #f1f1f1;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		margin: 10px -25px;
		padding: 5px 20px 20px 20px;
		box-shadow: 2px 2px 2px #333;
		display: none;
	}

	/*
	** Contact
	*/

	
}


@media only screen and (min-width: 769px) and (max-width: 992px){

	/*
	** Info
	*/

	#info .row {
		max-width: 90%;
	}

	/*
	** Qualifications
	*/	

	#qualification .row {
		max-width: 90%;
	}

	/*
	** Services
	*/

	#services .view-one {
		display: none;
	}

	#services .view-three {
		display: none;
	}
	
	#services .fa {
		display: block;
	}

	#services .view-two {
		display: inline-block;
		flex-direction: row;
		align-items: center;
		text-align: center;
	}


	#services .view-two #col-view-two {
		display: flex;
	}

	#services .view-two #col-view-two li {
		font-size: 13px;
		float: left;
		text-align: center;
		align-items: center;
		width: 225px;
		min-height: 275px;
		margin: 25px;
	}

	#services .view-two #col-view-two li span button {
		color: #333;
		border: none;
		background: none;
	}

	#services .view-two .hidden-content {
		color: #333;
		width: 749px;
		min-height: 250px;
		background-color: #f1f1f1;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		margin: 10px -100px;
		padding: 5px 20px 20px 20px;
		box-shadow: 2px 2px 2px #333;
		display: none;
	}
}






@media only screen and (min-width: 993px) {

	/*
	** Info
	*/

	#info .row {
		max-width: 80%;
	}

	/*
	** Qualifications
	*/	

	#qualification .row {
		max-width: 80%;
	}

	/*
	** SERVICES
	*/

	#services .view-one {
		display: none;
	}

	#services .view-two {
		display: none;
	}

	#services .fa {
		display: block;
	}

	#services .view-three {
		display: inline-block;
		flex-direction: row;
		align-items: center;
		text-align: center;
	}

	#services .view-three #col-view-three {
		display: flex;
	}

	#services .view-three #col-view-three li {
		font-size: 13px;
		float: left;
		text-align: center;
		align-items: center;
		width: 225px;
		min-height: 275px;
		margin: 10px;
	}

	#services .view-three #col-view-three li span button {
		color: #333;
		border: none;
		background: none;
	}

	#services .view-three .hidden-content {
		color: #333;
		width: 994px;
		min-height: 250px;
		background-color: #f1f1f1;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		margin: 10px -6px;
		padding: 5px 20px 20px 20px;
		box-shadow: 2px 2px 2px #333;
		display: none;
	}

	/*
	** Contact
	*/

}




/* TESTE DE CODIGO
@media only screen and (min-width: 769px) and (max-width: 1079px){

	
	** Services
	

	#services .view-one {
		display: none;
	}
	
	#services .fa {
		display: block;
	}

	#services .view-two {
		display: inline-block;
		flex-direction: row;
		align-items: center;
		text-align: center;
	}


	#services .view-two #col-view-two {

	}

	#services .view-two #col-view-two li {
		float: left;
		text-align: center;
		align-items: center;
		width: 250px;
		min-height: 275px;
		margin: 15px 50px;
	}

	#services .view-two #col-view-two li span button {
		color: #333;
		border: none;
		background: none;
	}

	#services .view-two .hidden-content {
		color: #333;
		width: 760px;
		min-height: 250px;
		background-color: #f1f1f1;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		margin: 10px 0px;
		padding: 5px 20px 20px 20px;
		box-shadow: 2px 2px 2px #333;
		display: none;
	}
}
*/